.root {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    background-color: white;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    height: 70px;
    width: 20%;
    font-size: 14px;
    color: rgb(85, 85, 85)
}

.icon {
    font-size: 30px;
}

.active {
    color: rgb(0, 139, 93);
}
