.root {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: white;
}

.icon {
    font-size: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 5px;
    width: 20%;
    font-size: 14px;
    color: rgb(85, 85, 85)
}

.active {
    color: rgb(0, 131, 118);
}
