.root {
    position: relative;
    padding-top: 14px;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: white;
}

.name {
    height: 35px;
    padding-left: 20px;
    color: rgb(0, 143, 119);
    font-size: 18px;
    line-height: 35px;
}
.child {
    border-bottom: 2px solid #9aecd4;
    margin-top: 10px;
}
.tag{
    display: inline-block;
    margin: 0 0 10px 12px;
    border: 1px solid rgb(12, 151, 133);
    color:white;
    width: 80px;
    height: 35px;
    background-color: white;
    color: #333;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    border-radius: 6px;
}
.tagActive {
    background-color:rgb(12, 151, 133);
    color:white;
}
